{% extends 'base.html' %}

{% block title %}<title>Login</title>{% endblock title %}
{% block content %}
<h5 class="card-title">Login</h5>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>

<div class="d-flex flex-column justify-content-center">
<a class="btn btn-" href="{% url 'dashboard' %}"></i>Back to dashboard</a>
<a class="btn btn-dark btn-block" href="{% url 'social:begin' 'github' %}"><i class="fab fa-github fa-fw"></i> Login with GitHub</a>
<a class="btn btn-info btn-block" href="{% url 'social:begin' 'twitter' %}"><i class="fab fa-twitter fa-fw"></i> Login with Twitter</a>
<a class="btn btn-primary btn-block" href="{% url 'social:begin' 'facebook' %}"><i class="fab fa-facebook fa-fw"></i> Login with Facebook</a>
</div>
<hr>
<div class="d-flex flex-column justify-content-center">
<a class="btn btn-success btn-block" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register</a>
<a class="btn btn-danger btn-block" href="{% url 'password_reset' %}"><i class="fas fa-key fa-fw"></i> Reset password</a>
</div>
{% endblock %}
