{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<h5>Send password reset link</h5>

<form method="post" novalidate>
  {% csrf_token %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p class="text-danger">{{ error }}</p>
    {% endfor %}
  {% endif %}

  <div class="form-group">
   <label for="{{ form.email.id_for_label }}" class="text-muted">Email</label>
    {% if form.is_bound %}
      {% if form.errors %}
        {% render_field form.email class="form-control is-invalid" %}
        {% for error in form.email.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field form.email class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.email class="form-control" %}
    {% endif %}
    {% if form.email.help_text %}
      <small class="form-text text-muted">{{ form.email.help_text }}</small>
    {% endif %}
  </div>

  <button type="submit" class="btn btn-danger btn-block mb-2">Reset</button>
</form>

<a class="card-link" href="{% url 'dashboard' %}">Back to dashboard</a>
{% endblock %}
