{% extends 'base.html' %}

{% block title %}<title>Dashboard</title>{% endblock title %}
{% block content %}
<h5 class="card-title">My Django Auth</h5>
<p class="card-subtitle">Hello, {{ user.username|default:'Guest' }}!</p>
<hr>
 {% if user.is_authenticated %}
    <a class="card-link" href="{% url 'logout' %}">Logout</a>
    <a class="card-link" href="{% url 'password_change' %}">Change password</a>
 {% else %}
    <a class="card-link" href="{% url 'login' %}">Login</a>
    <a class="card-link" href="{% url 'register' %}"> Register</a>
 {% endif %}
{% endblock %}
